#banner{
  height:var(--banner-height);
  width:100%;
  overflow:hidden;
  text-align: center;
}
 header{
  margin:0;
  padding:0;
    width:100%;
    height: var(--header-height);
    background-color: #020B00;
    display: flex;                 /*Make parent(header) a flex container */
    justify-content: space-between;/*Space around child horizontally */
    align-items: center;           /*center child vertically */
    flex-wrap: nowrap;
  }
  #icon{
    height:var(--icon-height);
    border-radius: 50%;
  }
  #name{
    text-align: center;
    font-size:25px;
    font-family: Pacifico;
    color:white;
    transition-property: color;
    transition-duration: 750ms;
  }

  #name:hover{
    cursor: pointer;
    color:#278405;
  }
  #icon_container{
    width:var(--icon-width);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .subsection_breaker{
    margin: 10px 0;
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
  }
  .subsection_breaker_line{
    width:calc(100% - var(--icon-width));
    border: 2px solid black;
    border-radius: 5px;
  }
  .subsection_breaker_block{
    margin:0;
    font-family: 'Courier New';
    text-align:center;
    width:max(20%,200px);
    border: 4px solid black;
  }
  #section_container{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:1.3em;
    font-family: monospace;
    list-style-type: none
  }
  .section{
    color:white;
    transition-property: color;
    transition-duration: 750ms;
  }
  .section:hover{
    cursor: pointer;
    color:#278405;
  }
  
  
  @media only screen and (max-width: 600px) {
    html{
      --header-height:150px;
      --icon-height:70px;
    }
    #icon_container{
      width:100%;
      display: flex;
      justify-content: center;
      margin:0;
    }
    header{
      flex-direction: column;
      justify-content:space-bewteen;
      align-items: center;
    }
    #section_container{
      width:90%;
      font-size:1.2em;
    }
  }
  
 