html{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  --banner-height:130px;
  --header-height:50px;
  --icon-height:50px;
  --icon-width:40%;
}
body{
  margin: 0;
  padding:0;
  background-color: white;
  width:100%;
  justify-content:center;
  align-items: flex-start;
}
  #myface{
    transition-duration: 750ms;
    height:200px;
    border-radius: 50%;
  }
  #myface:hover{
    transform: scale( 1.4);
  }
  .content_box{
    display: flex;
    justify-content: center;
    margin:0 20%;
  }
  
  .box{
    display: flex;
    justify-content: center;
  }
  .self-intro{
    width:40%;
    font-family: 'Georgia';
    text-align:center;
  }
  #sign{
    display: inline-block;
    font-family: 'Brush Script MT',cursive;
    font-size:larger;
    transition-duration: 750ms;
    filter: drop-shadow(8px 5px 0.2rem rgba(231, 199, 176, 0.7));
    }

  #sign:hover{
    transform: rotate( 5deg);
  }

  .contact{
    width:50px;
    height:50px;
    border-radius: 25%;
  }
  .contact:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

 .container2 {
  font-size: 25px;
  font-family: pacifico;
}

.right {
  text-align: right;
  width: 100%;
}
#myface_container{
  border-radius: 50%;
  height:200px;
  width:200px;
  border:4px solid black;
  overflow: hidden;
}
.stack {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
}
.container2:hover .stack span{
   animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 340ms ease infinite 340ms alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
 
@media only screen and (max-width: 600px) {
  .content_box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:0;
  }
}